@font-face {
    font-family: 'Fixedsys';
    src: url('Fixedsys.ttf');
}

body {
    cursor: text;
    /* background-color: #13c013b2; */
    background-color: #51dd22be;
    color: black;
    font-family: 'Fixedsys';
    font-size: larger;
}



#emailArea {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#clipboardCopiedMessage {
    position: relative;
    font-size: 1rem;
    display: flex;
    align-items: center;
    top: -3rem;
    display: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}


.introConsole {
    background-color: #13c0133e;
    border: 2px solid black;
}

.introConsole p {
    font-size: larger;
    margin-left: 5px;
}

.Main {
    width: 80%;
    margin: auto;
}

p {
    padding: 5px;
}

#portfolioHeader {
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

#asciiDivider {
    letter-spacing: 0.1em;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#portfolioText {
    margin-bottom: 0px;
    margin-top: 0px;
}

a {
    all: unset;
    padding: 5px;

}



a:hover, #myEmail{
    cursor: help;
}



header, footer {
    font-size: larger;
    display: flex;
    justify-content: space-around;
}

footer {
    font-size: large;
    width: 70%;
    margin: auto;
}

header p {
    margin-left: 5px;
}

.hideme {
    display: none;
}

.wrapper {
    height: 100vh;
}

.typingText {
    width: 14ch;
    animation: typing 2s steps(14), blink .9s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2.5em;
}

.terminalImage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 420px;
}



.waitingPrompt {
    animation: typing 2s steps(14), blink .9s step-end infinite alternate;
}

.linkgo {
    margin-bottom: 0px;
    margin-top: 0px;
    color: #199515;
}

.consoleMenu {
    height: 1.5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.061);
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

#exitx {
    margin-left: 90%;

}



@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


@keyframes flicker {
    0% {
        opacity: 0.15795
    }

    5% {
        opacity: 0.33
    }

    10% {
        opacity: 0.55
    }

    15% {
        opacity: 0.44
    }

    20% {
        opacity: 0.66
    }

    25% {
        opacity: 0.00
    }

    30% {
        opacity: 0.22
    }

    35% {
        opacity: 0.44
    }

    40% {
        opacity: 0.55
    }

    45% {
        opacity: 0.55
    }

    50% {
        opacity: 0.33
    }

    55% {
        opacity: 0.11
    }

    60% {
        opacity: 0.77
    }

    65% {
        opacity: 0.22
    }

    70% {
        opacity: 0.77
    }

    75% {
        opacity: 0.22
    }

    80% {
        opacity: 0.77
    }

    85% {
        opacity: 0.22
    }

    90% {
        opacity: 0.24467
    }

    95% {
        opacity: 0.08351
    }

    100% {
        opacity: 0.54813
    }
}

.overlay::after {
    animation: flicker 10s infinite;
    background: rgba(16, 16, 16, 0.1);
    content: "";
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}


.overlay::before {
    background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.05) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.0011), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.05));
    background-size: 100% 0px, 6px 100%;
    content: "";
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;


}

.project {
    background-color: #13c0133e;
    border: solid 2px black;
    margin-top: 10px;
}

.terminalSelectedText {
    display: inline-block;
    animation: glitch-2 4s 3s infinite;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
}

.glitched {
    display: inline-block;
    animation: glitch-2 4s 3s infinite;
}



@keyframes glitch-2 {
    1%{
      transform: rotateX(10deg) skewX(70deg);
    }
    2%{
      transform: rotateX(0deg) skewX(0deg);
    }
  }

  @keyframes imageGlitch {
    0%{
        filter: grayscale(5%);
        filter: blur(0.3px);
    }
    20%{
        filter: grayscale(20%);
    }
    30%{
        filter: blur(0.75px);
    }
    35%{
        filter: blur(1.5px);
    }
    37%{
        filter: blur(0.3px);
        filter: grayscale(5%);
    }
    39%{
        filter: blur(0.5px);
        filter: grayscale(5%);
    }
    60%{
        filter: grayscale(31%);
        filter: blur(0.3px);
    }
    80%{
        filter: grayscale(7%);
    }
    100%{
        filter: grayscale(3%);
    }

  }


  img {
    border: 1px darkgreen solid;
    animation: imageGlitch 8s 1s infinite;
    /* filter: grayscale(50%);
    filter: blur(1px);
    filter: contrast(100%); */
  }

